*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f4f4;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)) , url("https://springboard-cdn.appadvice.com/wp-content/appadvice-v2-media/2016/11/Netflix-background_860c8ece6b34fb4f43af02255ca8f225.jpg") no-repeat center center/cover;
    padding-top:80px;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    padding: 1rem 3rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;     
    position: fixed;
    top: 0;
    z-index: 1000;           
}

.navbar .logo {
    font-size: 1.7rem;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar nav {
    display: flex;
    align-items: center;
    gap: 2rem;            
}

.navbar nav a {
    text-decoration: none;
    color: white;
    padding: 10px 5px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    transition: 0.3s ease;
}

.navbar nav a:hover {
    color: #ff4c4c;
}


.navbar nav a:hover {
    color: #ff4c4c;
}

.hero {
    background: url('cinema-bg.jpg') center/cover no-repeat;
    height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.hero h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 6px black;
}
.hero p {
    color:white;
    font-size: 3rem;
    text-shadow: 2px 2px 6px black;
    font-size: 1.5rem;
    margin-top: 10px;
    
}

.hero-btn {
    margin-top: 20px;
    background: #ff4c4c;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
}

.hero-btn:hover {
    background: #e63939;
}

.section-title {
    text-align: center;
    font-size: 2.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
.movies-container .movie-card button{
    margin-top: 10px;
    background: #ff4c4c;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
}
.movie-card {
    width: 240px;
    background: white;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.06);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.movie-card img {
    width: 220px;
    height: 320px;
    border-radius: 5px;
}


.fade {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to { opacity: 1; }
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 2000;
}

.modal-content {
    background: white;
    width: 80%;
    max-width: 500px;
    margin: 10% auto;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

.seats-grid {
    display: grid;
    grid-template-columns: repeat(5, 40px);
    gap: 10px;
    justify-content: center;
    margin: 1rem 0;
}

.seat {
    width: 40px;
    height: 40px;
    background: #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.seat.selected {
    background: #4caf50;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 40px;
}
