*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins",sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)) , url("https://i.pinimg.com/originals/35/cb/37/35cb37b1f9609010ec04fe96c3907d31.jpg") ;
    background-size: cover;
    font-family: sans-serif;
}
nav{
    width: 100%;
    height: 100px;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 2em;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 45px;
}
.menu a{
    text-decoration:none ;
    color:white;
    padding: 10px 20px ;
    font-weight: bold;
    font-size: 15px;
    position: relative;
}
.menu a:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 0%;
    height:100%;
    border-bottom: 2px solid indianred;
    transition: 0.4s linear;
}
.menu a:hover:before{
    width: 90%;
}
.register a{
    text-decoration:none ;
    color:white;
    padding: 10px 20px ;
    font-size: 15px;
    background: indianred;
    border-radius: 80px;
    transition: 0.4s linear;
}
.register a:hover{
    background:transparent;
    border: 1px solid indianred; 
    
}
.h-text{
    max-width: 650px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
    color:white
}
.h-text span{
    left-spacing: 5px;
}
.h-text h1{
    font-size: 3.5em;
}
.h-text a{
    text-decoration: none;
    background-color: indianred;
    color:white;
    padding: 10px 20px;
    letter-spacing: 5px;
    border-radius: 8px;
    transition: 0.4s linear;
}
.h-text a:hover{
    background:transparent;
    border: 1px solid indianred; 
    
}
